<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">	www.jackmodo.com - 我挺你設計：一個預購設計師商品的平台</p>
    <p class="h_desc"></p>
   </div>
      <table width="940"  border="0" align="center" cellpadding="0" cellspacing="0" >
  		<tr>
    		<td align="center">
				<b>Slogan: "我挺你設計" 代表：1. 我，挺你設計 2. 我挺，你設計 3. 我挺你，設計</b>
				<br/>
 				<center><img src="assets/illustrator.jpg" width="600" height="358" /> </center><br /> 
 				<br/>
				還記得童話故事裡傑克與魔豆的故事嗎? 故事裡，傑克無意間用了一隻母牛換來了5顆被母親認為無用的魔豆丟到窗外，沒想到隔天魔豆卻長成巨大的藤蔓，讓傑克有機會爬上巨藤而探索了巨人的城堡，最後並意外地獲得許多寶物和金幣。
				<br/><br/>
				『傑克魔豆』就是一個因此想法而生的網路平台。我們想創造出一個巨藤，讓每個人都可以藉由我們來到設計師的夢幻城堡裡，獲得最NEW、最COOL、最IN的設計商品，而你只需要播種幾顆魔豆讓它來幫你實現。
				<br/><br/>
				從此之後，設計師商品再也不是高不可攀了。藉由我們這個設計師商品的預購平台，你不但可以在第一時間就獲得最新的設計商品資訊，甚至可以第一手就購得你喜愛的設計商品。很棒吧?! 那就讓傑克(Jack)幫你把魔豆(Modo)撒下，讓魔豆帶給你獨一無二的設計師商品吧! 生命本來就應該浪費在美好的事物上的…
			</td>
  		</tr>
  		<tr>
    		<td align="center" valign="top">&nbsp;</td>
  		</tr>
	</table>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	
</div>