<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">	聯絡我們</p>
    <p class="h_desc">如果您有任何問題，歡迎聯絡我們</p>
   </div>
      <table width="940"  border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td align="center"> <br />
 <center><img src="assets/illustrator2.jpg" width="600" height="358" /> </center><br /> 
 </td>
  </tr>
  <tr>
    <td class="contact" align="center" valign="top"><form id="contact" action="#" method="post">
			<label for="name">姓名: *</label>
				<input id="nameinput" name="name" type="text">
			<label for="email">email: *</label>

				<input id="emailinput" name="email" type="text">
			<label for="comment">內容: *</label>
				<textarea cols="20" rows="7" id="commentinput" name="comment"></textarea><br>
			<input id="submitinput" name="submit" class="submit" value="送出" type="submit">
			
			</form></td>
  </tr>
</table>

<br>
<br>
<br>

    </div>
