<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">	如何預購</p>
    <p class="h_desc"></p>
   </div>
      <table  border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center"><img src="assets/ex03.jpg" width="800" height="1050" /></td>
  </tr>
  <tr>
    <td align="center"><img src="assets/ex04.jpg" width="800" height="1035" /></td>
  </tr>
</table>

<br>
<br>
<br>

</div>
