<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">	開始您的專案</p>
    <p class="h_desc"></p>
   </div>
      <table width="940"  border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td align="center"> <br />
 <center><img src="assets/illustrator3.jpg" width="600" height="358"/> </center><br /> 
 </td>
  </tr>
  <tr>
    <td class="contact" align="center" valign="top">
		<form id="contact" action="/staticpages/create_lauch_data" method="post">
		<label for="name">你的創意作品是...(請簡單敘述您的創意作品，包括作品的特色與用法，同時也說明這作品預計的開始和結束時間)</label>
			<textarea cols="20" rows="7" id="commentinput" name="comment1"></textarea>
		<label for="email">關於你與你的創意作品：(請給我們關於您的相關資料，部落格、網誌、臉書等等...,以及您與您創意作品故事)</label>
			<textarea cols="20" rows="7" id="commentinput" name="comment2"></textarea>
		<label for="comment">你如何知道我們：</label>
			<input id="name1" name="howkonw" type="text">
		<label for="comment">你創意作品的目標資金額：</label>
			<input id="name2" name="money" type="text"><br>
		<input id="submitinput" name="submit" class="submit" value="提交計畫" type="submit">
		</form>
	</td>
  </tr>
</table>

<br>
<br>
<br>

    </div>
