<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">	Jackmodo隱私權政策</p>
    <p class="h_desc"></p>
   </div>
      <table width="940"  border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td align="center">
      <br />
      <b>一.本政策所涵蓋之範圍</b> <br />
        適用範圍包括 <br />
        (1)使用者註冊時所同意「傑克魔豆」蒐集之個人資訊名稱、年齡、性別、職業、通訊地址、e-mail 與連絡電話 <br />
        (2)本政策之效力範圍僅及於本網站，若您點選第三人網站之連結或廣告，拜訪各該網站或網頁時，應依各該網站或網頁之經營者所定之隱私權政策規定處理，與「傑克魔豆」無關。 <br />
       <b>二.  資訊蒐集與使用</b> <br />
        * 「傑克魔豆」會於您進行網站註冊、使用各項產品或服務、瀏覽網頁、回報使用意見，或是參加促銷廣告方案時，依據您所進行之行動蒐集必要之個人資訊，或是留下您的使用紀錄以備日後查詢。個人資料處理之期限至您通知嘖嘖終止與本網站之會員關係為止。 <br />
        *「傑克魔豆」於您使用本網站時，系統會自動紀錄您所在之 IP位置，並記錄您所瀏覽之網頁，與所使用之服務內容。 <br />
        *當您與「傑克魔豆」通過電子郵件與其他方式進行交流時, 我們可能會紀錄這些交流內容, 用以處理您的問題並改善我們的服務.</p>
      <b>三.資訊公開與共享 </b><br />
        「傑克魔豆」不會將您的個人信其與資訊故意透露.出租或出售給任何第三方。但以下情況除外：<br />
        (1)用戶本人同意與第三方共享信息和資訊;<br />
        (2)只有透露用戶的個人信息和資訊，才能提供用戶所要求的某種產品和服務;<br />
        (3)應代表「傑克魔豆」提供產品或服務的主體的要求提供(除非我們另行通知，否則該等主體無權將相關用戶個人信息和資訊用於提供產品和服務之外的其他用途)：根據法律法規<br />
        或行政命令的要求提供;因外部審計需要而提供;用戶違反了「傑克魔豆」服務條款或任何其他產品及服務的使用規定;經「傑克魔豆」評估，用戶的帳戶存在風險，需要加以保護。 </p>
      <b>四、編輯和刪除個人帳戶資料的權限</b><br />
        您有權在任何時候編輯您在「傑克魔豆」的帳戶信息和資訊，您也可以填寫相關申請表格，要求刪除個人帳戶，但是您無條件同意在您的帳戶刪除後，該帳戶內及與該帳戶相關的信息和資訊仍然保留在「傑克魔豆」檔案記錄中，除上述第三條規定的情況外，我們將為您保密。 </p>
      <b>五、安全保障</b><br />
        您的「傑克魔豆」帳戶具有密碼保護功能，以確保您的隱私及信息和資訊安全。 </p>
     <b>六、隱私權政策的修訂</b><br />
        「傑克魔豆」會不時對隱私權政策進行修改。如有修改，我們會在修改後及時公告相關修改內容及新規定，以便您知悉和使用。 </p>
<b>七、問題與建議</b><br />
如果您有任何問題和建議，請隨時通知我們。</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
  </tr>
</table>

<br>
<br>
<br>

    </div>