<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">JackModo服務條款 </p>
    <p class="h_desc"></p>
   </div>
      <table width="940"  border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td align="center">
      <p>親愛的用戶, 歡迎您加入成為Jackmodo.com的用戶(以下簡稱&rdquo;傑克魔豆&rdquo;或&rdquo;我們&rdquo;), 請仔細閱讀以下條款:</p>
      <b>1.認知與接受條款 </b>
      <p>在您成為註冊會員後, 隨即享有我們所提供的金流與資訊服務, 其服務內容包括但不限於商品買賣、內容瀏覽與利用電子郵件或其他方式進行商品行銷資訊之提供。本公司得依實際情形，增加、修改或是終止相關服務。本條款訂定之目的，在於盡可能保護客戶的權益，同時確認本公司與客戶間的契約關係。 </p>
      <p>當您開始使用本服務時，即視同您已詳細閱讀、瞭解並同意接受本服務條款之所有內容，並隨時注意本服務條款公告於網站上之變更修正，「傑克魔豆」有權於任何時間修改或變更本服務條款之內容。您於任何修改或變更後繼續使用本服務，也視同您已詳細閱讀、瞭解並同意接受該等修改或變更。如果您不同意本服務條款之內容，或者您所屬的國家或地域排除本服務條款內容之全部或一部份時，請立刻停止使用本服務。 </p>
      <p>若您未滿二十歲，您必須在申請加入會員之前，請您的父母或監護人閱讀本條款，並得到您的父母或監護人同意後，才可以申請、註冊及使用本網站所提供的會員服務；當您滿二十歲之前使用本網站服務，您必須向本公司擔保您已取得父母或監護人的同意。當您完成相關申請，並繼續使用本網站所提供的服務時，則表示您的父母或監護人已經閱讀、瞭解、並同意本條款。 </p>
      <b>2.註冊義務 </b>
      <p>為了您能使用本服務，您需同意以下事項：<br />
        <br />
        1) 依本服務註冊表提示來提供您本人正確、最新及完整的資料。若您提供任何錯誤或是不實的資料，本公司有權暫停或是終止您的帳號，並拒絕您使用本服務。客戶應該妥善保管密碼，不可以將密碼洩露或提供給他人知道或使用；以同一個客戶帳號和密碼使用本服務所進行的所有行為，除經證明係可歸責於「傑克魔豆」之疏失所致者外，都將被認為是該客戶本人的行為，應由該客戶依法負責。客戶註冊時必須填寫確實之個人資料，若發現有不實登錄時，本公司得暫停或終止其客戶資格，若違反中華民國相關法律，亦將依法追究。客戶如果發現或懷疑有第三人使用其客戶身分證字號或密碼，應該立即通知本公司，採取必要的防範措施。但客戶於通知前依法應負之法律上責任並不因此通知而免除。<br />
  <br />
        2) 維持並更新您個人資料，為確保其正確、最新及完整性。若您提供任何錯誤、不實或不完整的資料，「傑克魔豆」有權利暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。 </p>
      <b>3.會員帳號、密碼及安全 </b><br />
        無論訪客或會員，都可以瀏覽「傑克魔豆」的內容，但使用「傑克魔豆」的服務之前，用戶必須要登記並成為會員。成為會員的過程中，用戶應提供及時、詳盡、準確的個人資料，包含設定一組用戶賬號以及密碼。並不斷更新註冊資料，符合及時、詳盡、準確的要求。所有原始鍵入的資料將引用為註冊資料。如發生註冊不完整或不真實的情況，此情況視為違反使用條款，「傑克魔豆」有權利終止您的服務。嘖「傑克魔豆」不對任何因註冊信息不真實而引起的問題、以及問題發生所帶來的後果承擔責任。 <br />
        用戶在申請帳號時，不應該使用模仿他人姓名或者任何會侵害踏人權益的帳號。另外使用攻擊性的字眼或任何種族歧視的文字當作帳號名稱，「傑克魔豆」有權利終止此帳號的服務。 <br />
        用戶不應將其帳號、密碼轉讓或出借給他人使用。如用戶發現其帳號遭他人非法使用，應立即通知「傑克魔豆」。因駭客行為或用戶的保管疏忽導致帳號、密碼遭他人非法使用，「傑克魔豆」網站不承擔任何責任。 </p>
      <p>&nbsp;</p>
      <b>4.與第三人網站之連結 </b>
      <p>本服務或協力廠商可能會提供至其他網站或網路資源的連結。您可能會因此連結至其他業者經營的網站，但不表示「傑克魔豆」與該等業者有任何關係。由於其他業者經營的網站均由各該業者自行負責，不屬「傑克魔豆」控制及負責範圍之內，故「傑克魔豆」不擔保任何檢索結果或外部連結，其內容合適性、可依賴性、即時性、正確性、有效性及完整性。若檢索結果或連結至一些令您不快、厭惡或不需要的網站，這是網際網路運作的可能結果。如遇此類情形時，「傑克魔豆」建議您放棄瀏覽或儘速離開該等網站。您並同意「傑克魔豆」無須為您連結至非屬於「傑克魔豆」之網站所生之任何損害，負損害賠償之責任。此外，該網站上所有商標權或其他權利，仍歸相關權利人所享有，「傑克魔豆」並未因此而取得或授權您使用。 </p>
      <b>5.兒童及青少年之保護 </b>
      <p>為確保兒童及青少年使用網路的安全及避免隱私權受到侵犯，家長（或監護人）應協助盡下列義務：<br />
        <br />
        1) 檢閱各網站是否具有保護個人資料的隱私權政策，再決定是否同意提出相關的個人資料；並應持續叮嚀未成年人勿洩漏自己或家人的任何資料（如:姓名、地址、電話、電郵、照片、信用卡號等）給任何人，也不可單獨接受網友邀約或贈送禮物而與之碰面。<br />
        2) 謹慎選擇合適網站供未成年人使瀏覽。未滿十二歲之兒童上網時，應全程在旁陪伴，十二歲以上未滿十八歲之青少年上網亦該斟酌是否同意。 </p>
      <b>6.使用者守法義務及承諾 </b>
      <p>當使用本服務時，表示您已承諾遵守中華民國相關法令規範及相關網際網路之國際慣例。非中華民國管轄範圍之使用者，亦應同意遵守所屬國或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為，如有違法事宜「傑克魔豆」有權終止您使用本服務之權利，如因您致第三人受到損害，由您自負損害賠償責任，「傑克魔豆」不負任何損害賠償責任。其行為包括但不限於以下各項：<br />
        <br />
        1) 上載、張貼、公布或傳送任何涉嫌誹謗、侮辱、具威脅性、攻擊性、不妥、不雅、不實、違反公共秩序安全或善良風俗或其他任何不法之文字、圖片或任何形式之檔案於「傑克魔豆」上<br />
        2) 侵害他人智慧財產權(包括但不限於名譽、隱私權、營業秘密、商標、著作、專利權及其他權利)&nbsp;<br />
        3) 違反需依法律或契約所應負之保密義務<br />
        4) 未經授權冒用他人名義使用本服務或偽造寄件人便式資料傳送郵件，或進入會員系統或相關網路<br />
        5) 傳輸或散佈任何含惡意程式或其他足以造成資通訊品破壞、中斷、干擾或限制功能之程式碼或資料<br />
        6) 從事不法交易行為或張貼虛假不實、引人犯罪之訊息<br />
        7) 販賣刀械、槍枝、毒品、禁藥、盜版軟體或其他法令禁止有關之物品及資訊<br />
        8) 供賭博資訊或透過任何方式引誘他人參與賭博的訊息<br />
        9) 濫發廣告訊息&nbsp;<br />
        10) 未經同意收集他人個人資訊<br />
        11) 偽造訊息來源或以任何方式干擾傳輸來源之認定<br />
        12) 干擾或中斷本服務或伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等<br />
        13) 對於恐怖行動提供任何實質支持或資源<br />
        14) 其他「傑克魔豆」有正當理由認定為不適當之行為 </p>
      <b>7.服務中斷或故障 </b>
      <p>本服務有時可能會出現中斷、保養、施工、通信服務被停止、故障或其他不可抗力造成無法使用等現象，可能造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。您於使用本服務時自行採取防護措施。「傑克魔豆」對於您因使用（或無法使用）本服務而造成的損害，除故意或重大過失外，不負任何賠償責任。 </p>
      <b>8.資訊或建議 </b>
      <p>「傑克魔豆」對於您使用本服務或經本服務連至其他網站而取得之資訊或建議，不擔保其資訊完全正確無誤，使用者應自行判斷該資料採用與否或求證，您若認為某些內容涉及侵權或不實，請逕向該內容提供者反應且同時向「傑克魔豆」檢舉。「傑克魔豆」對於由第三人所提供，經本服務刊登之資料，因對內容提供者提供之內容不作實質審查或任何修改，因此其內容之正確性或其他涉及侵權事項，均由該內容提供者負責與「傑克魔豆」無關。惟本服務所提供之資訊或建議「傑克魔豆」有權隨時修改或刪除。您在做出任何相關規劃與決定之前，仍應請專業人員針對您的情況提出意見以符合需求，並因秉持誠信原則勿欺詐消費者。<br /></p>
        <br />
        <b>9.關於使用及儲存之一般措施</b> 
      <p>您同意「傑克魔豆」有權針對本服務訂定一般措施及限制，包含但不限於本服務將對佈告內容、形式、、其他上載內容之保留期間、一般特定期間內您使用本服務之次數上限及每次使用時間之上限或使用者規範等。若「傑克魔豆」將本服務維持或傳送之任何訊息內容刪除或未予儲存，您同意「傑克魔豆」毋須承擔任何責任。並同意「傑克魔豆」有權對長時間未使用的帳號(超過半年)關閉。且同意「傑克魔豆」有權依自身需求隨時變更一般措施及限制內容，並得不逕行通知。 </p>
      <b>10.內容和其他合法權益 </b>
      <p>「傑克魔豆」將不會對您發佈到「傑克魔豆」服務中的文本、文件、圖像、照片(包括您自己的照片)、視頻、聲音、音樂作品、創作作品或任何其他材料(合稱為&quot;內容&quot;)擁有任何所有權。在您將內容發佈到嘖嘖服務中，您將繼續保有對此類內容的相關權利，並且有權利依據您選擇的方式使用此內容。如果您在「傑克魔豆」服務中或通過嘖嘖服務展示或發表(下稱&quot;發佈&quot;)任何內容，即表明您就此授與「傑克魔豆」許可，使「傑克魔豆」可在服務中通過「傑克魔豆」網站使用、修改、公開執行、公開顯示、複製、傳播和出版此類內容。 <br />
        服務中包含「傑克魔豆」提供的內容，包含會員和其他許可方的內容。「傑克魔豆」的內容受《中華民國著作權法》、《中華民國商標法》、《中華民國專利法》和其他相關法律法規的保護，「傑克魔豆」擁有並保持對「傑克魔豆」的內容和「傑克魔豆」服務的所有權利。 </p>
      <b>11.專案提供者的智慧財產權權利 </b>
      <p>專案提供者同意於本服務發布的內容，授予「傑克魔豆」免許可費、永久有效、不可撤銷、非獨家及可完全再授權之權利，並在全球使用、複製、修改、改寫、改編、發行、翻譯、創造衍生性著作，及/或將前述內容(部分或全部)加以散佈、表演、展示，及/或放入利用任何現在已知和未來開發出之形式、媒體和科技之其它著作物當中。 <br />
        專案提供者擁有在「傑克魔豆」服務中或通過服務發布的內容擁有所有權，或者有權授予本部分中所述的許可;以及您在「傑克魔豆」服務中或通過「傑克魔豆」服務發佈內容不侵犯任何人的隱私權、公開權、著作權、合約權利或任何人的任何其他權利。最後，您同意支付因您在「傑克魔豆」服務中或通過「傑克魔豆」服務發布的內容而需向其他任何人支付的所有許可費、費用和任何其他款項 </p>
      <b>12.免責聲明 </b>
      <p>您明確了解並同意下列規定：<br />
        對本服務不提供任何明示或默示的擔保。本服務乃依其「現狀」及「提供使用時」之基礎提供，您使用本服務時，須自行承擔相關風險。不保證以下事項：<br />
  <br />
        1) 本服務能不受干擾、及時提供、安全可靠無錯誤或完全符合您的需求<br />
        2) 經本服務之使用而取得之結果為正確或可靠<br />
        3) 您經由本服務購買或取得之任何產品、服務、資訊或其他資料將符合您的期望<br />
  <br />
        是否經由本服務使用或取得任何資料應由您自行考量且自負風險，並拋棄因前開任何資料下載而致您電腦系統、網路存取、下載或播放設備之任何損壞或資料流失，對「傑克魔豆」提出任何請求或採取法律行動，您應自負完全責任。您自「傑克魔豆」或經由本服務取得之建議和資訊，無論其為書面或口頭，均不構成本服務之保證。您明確了解並同意「傑克魔豆」其相關企業及人員，無須為您任何直、間接、附隨、特別、衍生、懲罰性等損害負責，包括但不限於因下述事由所生利潤、商譽、使用、資料之損害或其他無形損失：<br />
  <br />
        1) 使用或無法使用本服務<br />
        2) 替代商品及服務之購買成本<br />
        3) 他人未經授權存取或修改您的傳輸或資料<br />
        4) 任何第三人就本服務所為之聲明或行為<br />
        5) 任何其他與本服務有關<br />
  <br />
        部分管轄區並不允許對特定保證責任之排除或附隨或衍生損害的限制或免除，則前述限制將不適用。此外，對於服務衍生效果，包括但不限於眾多使用者資訊內容所產生之任何合法或非法之轉寄、轉載、批評、討論等行為）不負擔任何責任。且「傑克魔豆」對內容提供方與其原著作者或其原權利人之間的爭議不負擔任何責任。<br /></p>
  <br />
        <b>13.金融相關服務 </b>
      <p>本服務之目的為提供資訊，非供交易或投資之目的。「傑克魔豆」對經由本服務傳送之任何資訊之正確性、合法性與適用性，不負任何擔保之責任。基於前揭資料之任何交易或投資決定，亦非「傑克魔豆」負責範圍 </p>
      <b>14.賠償 </b>
      <p>用戶通過本服務提供、張貼或傳送之內容、與本服務連線、如違反本服務公約、或侵害他人任何權利因而衍生或導致任何第三人提出任何索賠或請求，包括合理的律師費，用戶需同意賠償「傑克魔豆」及其子公司、相關企業、高級職員、代理人、品牌共有人或其它合作夥伴及員工，並使其免受損害。 </p>
      <b>15.會員行為 </b>
      <p>由會員公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料（以下簡稱「會員內容」），均由「會員內容」提供者自負責任。「傑克魔豆」不負擔任和擔保責任。「傑克魔豆」均不為任何「會員內容」負責，包含但不限於任何錯誤或遺漏，以及經由本服務張貼、發送電子郵件或傳送而衍生之任何損失或損害。但「傑克魔豆」有權依其自行之考量，拒絕或移除經由本服務提供之任何「會員內容」。您了解並同意，「傑克魔豆」依據法律的要求，或基於以下情形，認定必須將您的帳戶資訊或「會員內容」加以保存或揭露予政府機關、司法警察或未成年人之監護人時，得加以保存及揭露：<br />
        <br />
        1) 遵守法令或政府機關之要求<br />
        2) 為執行本服務所必須<br />
        3) 第三人提出相關證據主張侵犯已他人權利<br />
        4) 其他為免除使用者及公眾之生命、身體、自由、權利、財產或安全上之情形。<br />
  <br />
        如依法或其他相關規定(含本服務條款變更)須通知時「傑克魔豆」得以任何形式通知您並視為送達。亦同意不對本服務任何部分使用或存取，進行重製、拷貝、出售、交易、轉售或作任何商業目的之使用。<br />
  <br />
        <b>16.拒絕、終止或服務變更 </b>
      <p>您同意「傑克魔豆」得基於任何理由，不經通知隨時修改或暫時或永久停止繼續提供本服務（或其任一部分）的權利，包含但不限於特定期間未用、法院或政府行政命令、本服務無法繼續或服務內容實質變更、無法預期之技術或安全性因素或問題、法令規定之禁止行為、未依約支付費用，並不限於其他缺乏使用或違反本服務條款之明文規定及精神，得終止您的密碼帳號（或其任何部分）或本服務之使用，並可就您提供於「傑克魔豆」之資料加以移除或刪除。您亦同意若本服務之使用被終止，「傑克魔豆」對您或任何第三人均無需負擔任何責任。亦同意您的「傑克魔豆」帳號係不可轉讓，並您的帳號權利將於死亡時立刻中止及刪除。<br /></p>
        <br />
        <b>17.禁止商業行為 </b>
      <p>用戶同意不對本服務任何部分或本服務之使用或獲得，進行複制、拷貝、出售、轉售或用於任何其它商業目的。 </p>
      <b>18.責任限制 </b>
      <p>您明確了解並同意，基於以下原因而造成的，包括但不限於利潤、信譽、應用、數據損失或其它無形損失，「傑克魔豆」不承擔任何直接、間接、附帶、特別、衍生性或懲罰性賠償責任(即使「傑克魔豆」事先已被告知發生此種賠償之可能性亦然)：<br />
        本服務之使用或無法使用;<br />
        為替換或通過本服務購買或取得之任何商品、數據、資訊、服務、收到的訊息、或完成之交易而發生的成本;<br />
        您的傳輸或數據遭到未獲授權的存取或變造;<br />
        任何第三方在本服務中所作之聲明或行為;<br />
        與本服務相關的其它事宜，但本服務條款有明確規定的除外。 </p>
      <b>19.一般性條款 </b>
      <p>本服務條款構成用戶與「傑克魔豆」之全部協議，並規範您對於本服務之使用行為，並取代您先前與「傑克魔豆」所達成的全部協議。在您使用相關服務、使用第三方提供的內容或軟件時，亦應遵從所適用之附加條款及條件。 <br />
        本服務條款及您與「傑克魔豆」之關係，均受到中華民國法律管轄。 <br />
        您與「傑克魔豆」就本服務、本服務公約或其它有關事項發生的爭議，應以台北地方法院為最後裁決，對雙方均有約束力。 <br />
        「傑克魔豆」未行使或執行本服務條款任何權利或規定，不構成對前述權利或權利之放棄。 <br />
        倘本服務條款之任何規定因與中華民國法律抵觸而無效，用戶需依同意應依照法律，並努力使該規定所反映之當事人意向具備效力，且本服務條款其它規定仍應具有完整的效力及效果。 <br />
        本服務條款之標題僅供方便而設，不具任何法律或契約效果。 </p>
      <b>20.準據法與管轄法院 </b>
      <p>本服務條款之解釋及其他未盡事項，均應依照中華民國法律予以解釋及處理。雙方並同意以台灣台北地方法院為第一審管轄法院.</p>
      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
  </tr>
</table>

<br>
<br>
<br>
    </div>
