<div id="maincontent">
  <div id="wrapper"><div id="content_wrap">
  <div id="content">
    <p class="h_title">	為何要預購</p>
    <p class="h_desc"></p>
   </div>
       <table width="940"  border="0" align="center" cellpadding="0" cellspacing="0" >
  <tr>
    <td align="center"> <br />
 <center><%= image_tag("illustrator4.jpg", :width => '600', :height => '358')%> </center><br/> 
      <br />
      <b>為何要預購:</b> <br />
        台灣有許多優秀的設計師，但未必有足夠的資金進行產品的開發跟製造，因此透過預購的方式能夠讓他們的到早期的資金，進而完成他們產品的夢想。<br />
        
        <b>多久會拿到產品：</b> <br />
        每一樣產品我們都會註明大概的開發時程，出貨時間，如果切確時間有所變動，我們也會請設計師主動通知您。<br />
        
           <b>傑克的期許：</b> <br />
        我們買一件設計品，往往是因為看懂了這產品背後的故事，而傑克的期許就是盡量找到這些特別設計品讓生活因此而更精彩。<br />
</td>
  </tr>
  <tr>
    <td align="center" valign="top">&nbsp;</td>
  </tr>
</table>

<br>
<br>
<br>

</div>