
<div class="bottomFrmae">
  <ul class="menuFrame">
      <li><a href="/about">關於我們</a></li>
      <li class="menuline">│</li>
      <li><a href="/howlaunch">如何發起專案</a></li>
      <li class="menuline">│</li>
	  <li><a href="/howbuy">如何預購</a></li>
      <li class="menuline">│</li>
      <li><a href="/contact">聯絡我們</a></li>
      <li class="menuline">│</li>
      <li><a href="/service">服務條款</a></li>
      <li class="menuline">│</li>
      <li><a href="/privacy">隱私權政策</a></li>
  </ul>
	<!-- <div class="logo"></div> -->
</div>
