
		<div id="framecontent">
			<div class="innertube">
				<div class="titleFrame">
					<table width="900" border="0" cellspacing="0" cellpadding="0">
		  				<tr>
							<a href="/home">
		    				<div class="logo_form"><td></td></div>
							</a>
		    				<td>
								<div class="title_1bn">
									<a href="/launch">發起專案</a>
								</div>
								<div class="title_2bn">
									<a href="/whybuy">為何要預購</a>
								</div>
								<!-- 
								<div class="facebooklogo">
									<a href="#">登入</a>
								</div>
								 -->
							</td>
		  				</tr>
					</table>
				</div>
			</div>
		</div>
